.Game {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: #53b7f6;
    padding: calc(
      var(--tg-content-safe-area-inset-top, 0px) +
        var(--tg-safe-area-inset-top, 0px) + var(--extra-top-pad, 0px)
    )
    calc(
      var(--tg-content-safe-area-inset-right, 0px) +
        var(--tg-safe-area-inset-right, 0px) + 17px
    )
    calc(
      var(--tg-content-safe-area-inset-bottom, 0px) +
        var(--tg-safe-area-inset-bottom, 0px) + 30px
    )
    calc(
      var(--tg-content-safe-area-inset-left, 0px) +
        var(--tg-safe-area-inset-left, 0px) + 17px
    );
}

.Game__infoBlock {
  position: relative;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Game__infoBtn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  border-radius: 999px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.Game__stage {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.Game__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Game__overlay {
  position: absolute;
  inset: 0;
  pointer-events: none; 
}

.Game__cell {
  position: absolute;
  pointer-events: auto;

  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
//   border: 1px solid red;


  outline: 2px dashed rgba(255, 0, 0, 0.6);
}

.Game__cell:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.Game__content {
  position: relative;
  z-index: 2;

  padding: calc(
      var(--tg-content-safe-area-inset-top, 0px) +
        var(--tg-safe-area-inset-top, 0px) + var(--extra-top-pad, 0px)
    )
    calc(
      var(--tg-content-safe-area-inset-right, 0px) +
        var(--tg-safe-area-inset-right, 0px) + 30px
    )
    calc(
      var(--tg-content-safe-area-inset-bottom, 0px) +
        var(--tg-safe-area-inset-bottom, 0px)
    )
    calc(
      var(--tg-content-safe-area-inset-left, 0px) +
        var(--tg-safe-area-inset-left, 0px) + 30px
    );
  width: 100%;
  height: 100%;
}


.Game__overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.Game__svg {
  position: absolute;
  pointer-events: none; 
}

.Game__poly {
  pointer-events: all;
  fill: transparent;
  cursor: pointer;
  // stroke: rgba(255, 0, 0, 0.6);
  stroke-width: 0.003;
}