@font-face {
  font-family: "MTSText";
  src: url("./assets/fonts/MTSText.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MTSWide";
  src: url("./assets/fonts/MTSWide.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}