* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "MTSText";

}

*::-webkit-scrollbar {
  display: none;
}

html {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --tg-content-safe-area-inset-top: 0px;
  --tg-content-safe-area-inset-right: 0px;
  --tg-content-safe-area-inset-bottom: 0px;
  --tg-content-safe-area-inset-left: 0px;

  --tg-safe-area-inset-top: 0px;
  --tg-safe-area-inset-right: 0px;
  --tg-safe-area-inset-bottom: 0px;
  --tg-safe-area-inset-left: 0px;

  --extra-top-pad: 20px;

    --fs-13: clamp(12px, 3.2vw, 13.5px);
  --fs-16: clamp(14px, 3.8vw, 16px);
  --fs-18: clamp(16px, 4.1vw, 18px);
  --fs-24: clamp(20px, 5.6vw, 24px);

  --fs-title: clamp(22px, 6.6vw, 25.5px);

  --lh-tight: 1.05;
  --lh-normal: 1.27;
}

#root {
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  


  background-image: url("/images/bg-friends.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

body,
html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  overscroll-behavior-y: none;
  background-color: #FFFFFF;
}

body {
  position: relative;
  overflow: hidden;
  
}

ul,
ol,
p,
div,
label,
h1,
h2,
h3 {
  list-style: none;
}


